@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(248 250 252);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(148 163 184);
  border-radius: 3px;
}